<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295964765669-4h1s9l4bplkrbo2lt09lu19p50uf2e96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295964765669-4h1s9l4bplkrbo2lt09lu19p50uf2e96</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>295964765669-fgv24k8rm4gl6o8nbnr0kp1qig2i30dp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA54Cueug8NeeupDMiR2yGJnGnmkavPCvU</string>
	<key>GCM_SENDER_ID</key>
	<string>295964765669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dubucket</string>
	<key>PROJECT_ID</key>
	<string>dubucket-deb73</string>
	<key>STORAGE_BUCKET</key>
	<string>dubucket-deb73.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295964765669:ios:7372fce4c30faa663dd30c</string>
</dict>
</plist>